.landingVideo{
    z-index: -100;
    width: 100%;
    height: 100vh;
}
.alink {
    color: white;
    text-decoration: none;
}

.memberRow{
    /* flex-wrap: unset;
    flex-direction: column; */
}

.noPadding{
    padding: 0px;
}

.blackText{
    color:#000 !important;
}

.pt-50{
    padding-top: 50px !important;
}
.pt-150{
    padding-top: 150px !important;
}

.flexDisp{
    display: inline-flex;
}
.fullpage{
    min-height: 100vh;
}

.video-background {
    background: #000;
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -99;
  }
  .video-foreground,
  .video-background iframe {
    position: absolute;    
    top: -10vh;
    left: -10vw;
    width: 120%;
    height: 120%;
    pointer-events: none;
  }

  .overlineDeco{
      text-decoration: overline !important;
  }

.memberImageContainer {
    width: 250px;
    height: 250px;
    overflow: hidden;
    position: relative;
}
.memberImage {
    object-fit: cover;
    position: absolute;
    left: -1000%;
    right: -1000%;
    top: -1000%;
    bottom: -1000%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
}

.single_brand{
    padding: 0 10px;    
}

.navWhiteIcon{
    margin-top: 20px;   
    margin-bottom: 20px; 
    color: white;
}

.owl-next , .owl-prev {
    background-color: transparent;
    box-shadow: none;
    border: transparent;
    padding: 10px 0;
    cursor: pointer;
}

.linkCompensation{
    color: #f00;
}


.arrows {
    top: 150px;
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 20px;
}

.arrows path {
	stroke: #fff;
	fill: transparent;
	stroke-width: 1px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}

.navLogoMobile{
    width: 150px;
    
    
}


  @media(min-width: 767px){
    .coreMember{
        flex: 0 0 33%;
    }
    .otherMember{
        flex: 0 0 25%;
    }
    .memberFitContent{
        min-width: fit-content;
    }


  }
/* movile is below */
  @media(max-width: 768px){
    .memberImageContainer {
        margin-left: auto;
        margin-right: auto;        
    }
    .textCenterAlign{
        text-align: center;
    }
    .video-background iframe {        
        top: -500px;
        left: -50vw;
        width: 180%;
        height: 180%;

      }
      .navLogoMobile{
        width: 150px;
        padding-top: 10px;
    }
  }

  @media(max-width: 424px){


  }
