.landingVideo{
    z-index: -100;
    width: 100%;
    height: 100vh;
}
.alink {
    color: white;
    text-decoration: none;
}

.memberRow{
    /* flex-wrap: unset;
    flex-direction: column; */
}

.italicizee{
    font-style: italic;
    color:red;
    font-weight: 100;
}

.noPadding{
    padding: 0px;
}

.blackText{
    color:#000 !important;
}
.pt-00{
    padding-top: 0px !important;

}
.pt-50{
    padding-top: 50px !important;
}
.pt-150{
    padding-top: 150px !important;
}

.flexDisp{
    display: inline-flex;
}
.fullpage{
    min-height: 100vh;
}

.video-background {
    background: #000;
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -99;
  }
  .video-foreground,
  .video-background iframe {
    position: absolute;    
    top: -10vh;
    left: -10vw;
    width: 120%;
    height: 120%;
    pointer-events: none;
  }

  .overlineDeco{
      text-decoration: overline !important;
  }

.memberImageContainer {
    width: 250px;
    height: 250px;
    overflow: hidden;
    position: relative;
}
.memberImage {
    object-fit: cover;
    position: absolute;
    left: -1000%;
    right: -1000%;
    top: -1000%;
    bottom: -1000%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
}

.single_brand{
    padding: 0 10px;    
}

.navWhiteIcon{
    margin-top: 20px;   
    margin-bottom: 20px; 
    color: white;
}

.owl-next , .owl-prev {
    background-color: transparent;
    box-shadow: none;
    border: transparent;
    padding: 10px 0;
    cursor: pointer;
}

.linkCompensation{
    color: #f00;
}


.arrows {
    top: 250px;
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 20px;
}

.arrows path {
	stroke: #fff;
	fill: transparent;
	stroke-width: 1px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}

.navLogoMobile{
    width: 150px;
    
    
}

.redHeadings h2,h3,h4{
    color: red;
}

.redFont{
    color:red;
}

.buttonDisabled{
    background: #333;
}

.imageBGAurora{
    background-image: url(../img/banner/bradcam_1.png) !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Social media iconss ↓ */

.socialCenter {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    height: 40vh;
  }
  
  .wrapper {
    margin: 0 auto;
    display: -webkit-box;
    display: flex;
  }
  
  .containerSocial {
    color: white;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 35px 80px 7px rgba(0, 0, 0, 0.1);
    margin: 0 20px;
    min-width: 200px;
    min-height: 200px;
    -webkit-perspective: 1000px;
            perspective: 1000px;
    position: relative;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  
  .container--facebook {
    background-color: #37508D;
  }
  
  .container--youtube {
    background-color: #ff0000;
  }
  
  .container--instagram {
    background-color: #E1306C;
  }
  .container--linkedin {
    background-color: #0072b1;
  }
  
  .ion {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  
  .ion.ion-social-facebook {
    color: #37508D;
  }
  
  .ion.ion-social-youtube {
    color: #ff0000;
  }

  .ion.ion-social-linkedin {
    color: #0072b1 ;
  }
  
  .ion.ion-social-instagram {
    color: #E1306C;
  }
  
  .box {
    -webkit-box-align: end;
            align-items: flex-end;
    background-color: white;
    box-shadow: 0 20px 60px 0px rgba(0, 0, 0, 0.08);
    border-radius: 2px;
    color: white;
    font-size: 2.25rem;
    -webkit-box-pack: center;
            justify-content: center;
    position: relative;
    text-align: center;
    -webkit-transition: -webkit-transform 0.8s;
    transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
    transition: transform 0.8s, -webkit-transform 0.8s;
    -webkit-transform-style: transform-3d;
            transform-style: transform-3d;
    -webkit-perspective: 1000px;
            perspective: 1000px;
    height: 200px;
    width: 200px;
  }
  .box > * {
    -webkit-transition: -webkit-transform 0.8s;
    transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
    transition: transform 0.8s, -webkit-transform 0.8s;
    -webkit-transform-style: transform-3d;
            transform-style: transform-3d;
  }
  
  .box--left {
    -webkit-transition: -webkit-transform 0.8s;
    transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
    transition: transform 0.8s, -webkit-transform 0.8s;
  }
  
  .box--middle {
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: -webkit-transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  
  .box--right {
    -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: -webkit-transform 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .containerSocial:hover .box--left, .active .box--left {
    -webkit-transform: translate(-40px, -40px) rotate(-90deg) rotateY(180deg);
            transform: translate(-40px, -40px) rotate(-90deg) rotateY(180deg);
  }
  .containerSocial:hover .box--left .ion, .active .box--left .ion {
    -webkit-transform: rotate(270deg) rotateY(180deg) translate(-122%, -4%);
            transform: rotate(270deg) rotateY(180deg) translate(-122%, -4%);
  }
  .containerSocial:hover .box--left .count, .active .box--left .count {
    -webkit-transform: rotate(270deg) rotateY(180deg) translate(-200%, 200%);
            transform: rotate(270deg) rotateY(180deg) translate(-200%, 200%);
  }
  .containerSocial:hover .box--middle, .active .box--middle {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
  .containerSocial:hover .box--right, .active .box--right {
    -webkit-transform: translate(40px, -40px);
            transform: translate(40px, -40px);
  }
  
  .count {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.4);
    display: block;
    font-weight: 400;
    text-center: center;
    position: absolute;
    left: 50%;
    top: 70%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  
  .follow {
    bottom: 0;
    color: white;
    display: block;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    position: absolute;
  }
  
  .follow--left {
    right: 0;
    -webkit-transform: translate(-14px, -10px);
            transform: translate(-14px, -10px);
  }
  
  .follow--middle {
    left: 50%;
    -webkit-transform: translate(-50%, -10px);
            transform: translate(-50%, -10px);
  }
  
  .follow--right {
    left: 0;
    -webkit-transform: translate(14px, -10px);
            transform: translate(14px, -10px);
  }
  
  .button {
    background-color: rgba(255, 255, 255, 0.7);
    border: 0;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.08), 0 4px 12px 0 rgba(0, 0, 0, 0.08);
    border-radius: 3px;
    color: #555;
    cursor: pointer;
    flex-wrap: nowrap;
    font-size: 0.875rem;
    outline: 0;
    padding: 10px 30px;
    position: relative;
    text-align: center;
    display: block;
    -webkit-transition: box-shadow 0.15s, background-color 0.15s;
    transition: box-shadow 0.15s, background-color 0.15s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    vertical-align: middle;
  }
  .button:active {
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  }
  
  .homepageArrow{
      top: 300px;
  }

  /* masonry */

  .my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -30px; /* gutter size offset */
    width: auto;
  }
  .my-masonry-grid_column {
    padding-left: 10px; /* gutter size */
    background-clip: padding-box;
  }
   
  /* Style your items */
  .my-masonry-grid_column > div { 
    background: grey;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 5%;
  }
  .my-masonry-grid_column img {
    width: 100%;
  }


  @media(min-width: 767px){
    .coreMember{
        flex: 0 0 33%;
    }
    .otherMember{
        flex: 0 0 25%;
    }
    .memberFitContent{
        min-width: fit-content;
    }


  }
/* movile is below */
  @media(max-width: 768px){
    .memberImageContainer {
        margin-left: auto;
        margin-right: auto;        
    }
    .textCenterAlign{
        text-align: center;
    }
    .video-background iframe {        
        top: -78vh;
        left: -50vw;
        width: 180%;
        height: 180%;

      }
      .navLogoMobile{
        width: 150px;
        padding-top: 10px;
    }
    .fontSize50{
        font-size: 50px !important;
    }
    .fontSize40{
        font-size: 40px !important;
    }
    .socialCenter{
        height: auto;
        padding-top: 50px;
    }
    .wrapper{
        flex-direction: column;
    }
    .wrapper a{
        margin: 10px 0;
    }
    .containerSocial{
        min-width: 100px;
        min-height: 100px;
    }
    .box{
        height: 100px;
        width: 100px;
    }
    .count{
        padding-top: 10px;
    }
    .homepageArrow{
        display: none;
    }
  }

  @media(max-width: 424px){


  }
