.landingVideo{
    z-index: -100;
    width: 100%;
    height: 100vh;
}
.alink {
    color: white;
    text-decoration: none;
}

.memberRow{
    /* flex-wrap: unset;
    flex-direction: column; */
}

.noPadding{
    padding: 0px;
}

.blackText{
    color:#000 !important;
}

.pt-50{
    padding-top: 50px !important;
}
.pt-150{
    padding-top: 150px !important;
}

.flexDisp{
    display: inline-flex;
}